@font-face {
    font-family: 'Zillion';
    src: url('/fonts/NiseZillion.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Kanit';
    src: url('/fonts/Kanit-LightItalic.ttf') format('truetype');
    font-weight: bolditalic;
    font-style: bolditalic;
  }

  @font-face {
    font-family: 'PressStart2P';
    src: url('/fonts/PressStart2P.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'VT323';
    src: url('/fonts/VT323-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }