@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;700&family=Inconsolata:wght@400;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: #ece9e6;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

/* .section.pressed {
  margin: 0px 55px 40px 55px;
}

.section.pressed h1 {
  color: #1d1d1d;
  font-family: 'Inconsolata', sans-serif;
} */