@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  30% {
      background-position: 60% 20%;
  }
  60% {
    background-position: 100% 40%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.section {
  width: auto;
  height: auto;
  margin-top: 110px;
  text-align: center;
}

.introHeader {
  display: inline-block;
  padding: 0px 50px 15px 50px;
  background: linear-gradient(-45deg, #0F2027, #203A43, #2C5364, #1d1d1d);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;  border-radius: 16px;
}

.coffeeMug {
  margin: 0px;
  font-size: 50px;
}

.introHeader h1 {
  font-family: 'Fraunces', sans-serif;
  font-size: 63px;
  color: white;
  margin: 20px 0px 10px 0px;
}

.menulink {
  padding: 0px 15px;
  text-decoration: underline;
  color: white;
  font-size: 14px;
}

.introContent {
  padding-top: 40px;
  text-align: center;
  font-family: 'Inconsolata', sans-serif;
  font-size: 18px;
}

.introContent p {
  display: inline-block;
  text-align: left;
  width: 55%;
}